/* Accordion styling */
.accordion > button {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
}

div.accordion {
	border: #444 solid thin;
}

.accordion > button:after {
	content: '+';
	float: right;
	margin-left: 5px;
}

.accordion > button.active:after {
	content: "-"; 
}

.accordion buttonactive, .accordion button:hover {
	background-color: #ddd;
}

/* Base accordion panel style which can be overridden by show. */
div.accordion-panel {
	padding: 0 18px 18px;
	background-color: white;
	display: none;
}

/* Accordion panel style override when shown */
div.accordion-panel.show {
	display: block;
}

.accordion-panel button {
	float: right;
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 50;
	clear: both;
}

.accordion-panel .topnote {
	font-size: x-small;
}