/* Accordion styling */
.accordion button.expand-btn {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
}

.accordion button.expand-btn:after {
	content: '+';
	float: right;
	margin-left: 5px;
}

.accordion button.expand-btn.active:after {
	content: "-"; 
}

.accordion button.expand-btn.active, button.expand-btn:hover {
	background-color: #ddd;
}

.accordion div.accordion-div {
	border: #444 solid thin;
}

/* Base accordion panel style which can be overridden by show. */
.accordion div.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
}

/* Accordion panel style override when shown */
.accordion div.panel.show {
	display: block;
}