header img {
	float: left;
}

article {
	padding: 5px 5px 5px 5px;
	margin: 95px 10px 45px 10px;
	
	border-width: 15px 15px 15px 15px;
	border-style: solid;
	border-color: white;
	/*box-shadow: 8px 8px 4px #888888;*/
}

section h1,h2,h3 {
	/*
	text-align: center;
	*/
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}