<div class="modal-header">
	<h3>Note</h3>
</div>
<div class="modal-body">
	
	<form>
		<label>Title</label><br/>
		<input type="text" ng-model="modalOptions.title"></input><br/>
		<br/>
		<label>Category</label><br/>
		
		<select 
			ng-init="modalOptions.selectedCategory = modalOptions.selectedCategory || modalOptions.categories[0]"
			ng-model="modalOptions.selectedCategory"
			ng-options="category as category.name for category in modalOptions.categories" 
		/>
		<br/>
		
		<!--
		<select ng-model="modalOptions.category_id">
			
			
			
			<option 
				ng-repeat="c in modalOptions.categories"
				ng-value="{{ c.id }}"
				>
			{{ c.name }}
			</option>
		</select>
		<br/>
		-->
		
		<br/>
		<label>Content</label><br/>
		<input type="text" ng-model="modalOptions.content"></input><br/>
	</form>
	
</div>
<div class="modal-footer">
	<button type="button" class="btn" 
			data-ng-click="modalOptions.close()">Close</button>
	<button class="btn btn-primary" 
			data-ng-click="modalOptions.ok();">OK</button>
</div>